* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}

.toggle_btn p {
  padding: 10px;
  border-bottom: 3px solid #c3c3c3;
}

button {
  background-color: #fff;
  border: 1px solid #c3c3c3;
  padding: 5px;
  border-radius: 10px 0 10px 0px;
}
button:hover {
  background-color: #e6e6e6;
  cursor: pointer;
  box-shadow: rgb(255, 217, 0) 0px 1px 5px;
}

#overlay {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 120%;
  opacity: 0.7;
  z-index: -1;
  top: -20px;
}

#popup-container {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #000;
  z-index: 1;
  min-height: 100vh;
}

.popup-content {
  width: 50%;
  height: fit-content;
  background-color: rgb(249, 250, 248);
  padding: 10px;
  border-radius: 10px;
}

#dot {
  width: 100px;
  height: 100px;
  background-color: purple;
  border-radius: 50%;
  z-index: -100;
  position: absolute;
}
